body {
padding: 8px;
margin: 8px;
}

h1 {
font-size: 36px;
font-weight: bold;
}

h2 {
font-size: 18px;
font-weight: bold;
}

.main {
}

#controls {
width: 82%;
padding: 8px;
margin: 8px;
border: solid black 1px;
clear: all;
}

#genepool {
width: 40%;
padding: 8px;
margin: 8px;
border: solid black 1px;
float: left;
}

.chromosome {
font-family:monospace;
background: silver;
}

#winners {
width: 40%;
padding: 8px;
margin: 8px;
border: 1px solid black;
float: left;
}
